%tr{id: "course-participant-#{user.id}"}
  %td= "#{user.first_name} #{user.last_name}"
  %td
    - if user_signed_in? && user.id == current_user.id
      = link_to 'Unsubscribe', course_subscriptions_path(course), method: :delete, remote: true
  %td
    - if user_signed_in? && current_user.id == course.user.id
      = link_to 'Kick', course_dismiss_path(course), method: :delete, remote: true