.content
  .container
    .col-md-8
      - if @courses.present?
        - @courses.each do |course|
          .col-md-3
            .thumbnail
              = link_to course.title, users_course_path(course)
              = image_tag course.picture.thumb
              = link_to 'Edit Course', edit_users_course_path(course)
              = link_to 'Delete Course', users_course_path(course), method: :delete, data: { confirm: 'Are you sure' }
        = paginate @courses
      - else
        %h2 No courses
  
  - if current_user.has_role? :trainer
    = link_to 'New Course', new_users_course_path
