%li.container
  .col-md-2
    = image_tag lesson.picture.thumb
  .col-md-2
    %h4= lesson.title
  .row
    .col-md-2
      = lesson.description
  .col-md-2
    = lesson.lecture_notes
  .col-md-2
    = lesson.home_task
  .col-md-2
    - if user_signed_in? && current_user.id = find_course.user.id
      = link_to 'Show Homeworks', users_course_lesson_hometasks_path(@course, lesson), class: "btn btn-primary"
    = link_to "Edit", edit_users_course_lesson_path(@course, lesson), :class => 'btn btn-success btn-xs'
    = link_to "Destroy", users_course_lesson_path(@course, lesson), :method => :delete, data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger btn-xs'
    = link_to 'Back', url_for(:back), :class => 'btn btn-default'