.ratings_heading
  %h1.rating-h1= @course.title
  = link_to 'Add lesson', new_users_course_lesson_path(@course), :class => "btn btn-success right"
.margin-top-10
  - if @lessons.present?
    .content
      .row
        %table.pretty.table.table-bordered
          %tbody
            %tr
              %th Cover 
              %th Title
              %th
                Lesson
                %br>/
                Date
              %th Description
              %th Summary
              %th Homework
              %th Action
            - @lessons.each do |lesson|
              %tr
                %td
                  = image_tag lesson.picture.thumb
                %td
                  = lesson.title
                %td 
                  = lesson.date_of
                %td
                  = lesson.description
                %td
                  = lesson.lecture_notes
                %td
                  = lesson.home_task
                %td
                  - if user_signed_in? && @course.user.id == current_user.id
                    = link_to "Edit", edit_users_course_lesson_path(@course, lesson), :class => 'btn btn-success btn-sm'
                    = link_to "Destroy", users_course_lesson_path(@course, lesson), :method => :delete, data: { :confirm => "Are you sure?" }, :class => 'btn btn-danger btn-sm'
                  = link_to 'Show Homeworks', users_course_lesson_hometasks_path(@course, lesson), class: "btn btn-primary btn-sm"
    = link_to 'Back', url_for(:back), :class => 'btn btn-default'
  - else
    %h2.rating-h1 You don't have lessons now.