%header.main-header
  / Logo
  %a.logo{:href => root_path}
    / mini logo for sidebar mini 50x50 pixels
    %span.logo-mini JET
    / logo for regular state and mobile devices
    %span.logo-lg JetCourses
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top{:role => "navigation"}
    / Sidebar toggle button
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        - if user_signed_in?
          / Messages: style can be found in dropdown.less
          / User Account: style can be found in dropdown.less
          %li.user.user-menu
            = link_to users_courses_path do
              = image_tag 'user2-160x160.jpg', class: 'user-image', alt: 'User Image'
              %span.hidden-xs= current_user.first_name
          %li.user.user-menu
            = link_to destroy_user_session_path, method: :delete, class: 'btn' do
              %span.hidden-xs Sign Out
        - else
          %li.user.user-menu
            = link_to new_user_registration_path, class: 'btn' do
              %span.hidden-xs Sign Up
          %li.user.user-menu
            = link_to new_user_session_path, class: 'btn' do
              %span.hidden-xs Sign In