!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge", "http-equiv": "X-UA-Compatible" }
    %title= "Rubyboost | #{yield(:title)}"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport" }
  %body.hold-transition.login-page
    = yield